<table class="table table-bordered table-ligth table-striped">
  <thead class="text-center" style="background-color:#AAA!important;">
    <tr>
      <th>Criada em</th>
      <th>Id da Conta</th>
      <th>Opcoes</th>
    </tr>
  </thead>
  <tbody style="text-align:center">
    <% @accounts.each do |account| %>
      <tr>
        <td><%=account.created_at.strftime("%d/%m/%Y, as %H:%M") %></td>
        <td><%= account.id %></td>
        <td>
          <div class="btn btn-outline-info border-dark">
            <%= link_to 'Ver Conta', user_account_path(user_id: current_user.id, id: account.id) %>
          </div>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>