<br />
<h2>
  Olá, <%=current_user.username%>! Você possue <%= @accounts.length %> conta(s) favoritadas<br />
<h2><br />
<div>
  <%= button_to "Cadastrar Conta", user_accounts_path(user_id: current_user.id), method: :post, class: "btn btn-primary" %>
</div>
<%= render 'accounts', accounts: @accounts %>

